

.hidden {
    color: transparent;
}

body {
    background-color:  #E5E5E5;
    color: #0A3871;
    font-family: 'SF Pixelate', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wordContainer {
    margin-top: 20px;

    font-size: 2rem;
    text-align: center;
}

.letter {
    margin: 0 1rem;
    position: relative;
    text-align: center;
}

.letter::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #0A3871;
    min-width: 2rem;
    text-align: center;
}

#startButton {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #0A3879;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

#AddWordList {
    
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #E5E5E5;
    color: #0A3871;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #0A3871;

    

}

#palabraNueva {
    
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #E5E5E5;
    color: #0A3871;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #0A3871;

}

#rendirse {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #0A3879;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

#resultado{
    color: rgb(132, 89, 233);
}